aiohttp==3.9.1
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.2.0
asgiref==3.7.2
attrs==23.1.0
billiard==4.2.0
boto3==1.33.11
botocore==1.33.11
celery==5.3.6
certifi==2023.11.17
channels==4.0.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron_descriptor==1.4.0
distlib==0.3.7
Django==4.2.9
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-colorfield==0.11.0
django-cors-headers==4.3.1
django-multiselectfield==0.1.12
django-storages==1.14.2
django-timezone-field==6.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
filelock==3.13.1
frozenlist==1.4.0
fuzzywuzzy==0.18.0
idna==3.6
jmespath==1.0.1
kombu==5.3.5
Levenshtein==0.23.0
multidict==6.0.4
mysqlclient==2.2.1
Pillow==10.1.0
platformdirs==4.1.0
plyer==2.1.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
PyJWT==2.8.0
python-crontab==3.0.0
python-dateutil==2.8.2
python-Levenshtein==0.23.0
pytz==2023.3.post1
rapidfuzz==3.6.1
requests==2.31.0
rest-framework-simplejwt==0.0.2
s3transfer==0.8.2
six==1.16.0
slack-sdk==3.26.1
slackclient==2.9.4
sqlparse==0.4.4
twilio==8.10.3
tzdata==2023.3
urllib3==2.0.7
vine==5.1.0
virtualenv==20.25.0
wcwidth==0.2.13
yarl==1.9.4
